<div id="bodyContainer" ng-app="TreeApp">
    <section id="content">
        <div class="container" ng-controller="TreeCtrl">
            <div class="accordion" id="root">
                <!-- all factories will be looped here-->
                <div class="card-body " ng-repeat="factory in factories">
                    <div class="card-header  bg-info" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#factory1" aria-expanded="true" aria-controls="factory1">
                               {{factory.name}}
                            </button>
                        </h5>
                        <div class="pull-right">
                        <div ng-click="editFactory($index)">edit</div><div ng-click="deleteFactory($index)">delete</div>
                        </div>
                    </div>
                    <div id="factory1" class="collapse" aria-labelledby="headingOne" data-parent="#root">
                        <div class="card-body ">
                            <div class="badge offset-1" ng-repeat="node in factory.nodes">{{node.name}} </div>

                          </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>
@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-toastr.js")
    @Scripts.Render("~/Scripts/angular-toastr.tpls.js")
    @Scripts.Render("~/Scripts/app/tree-controller.js")
}